set_v_constraint_1 := {foreach vertex vv do {if vv.z == 0 then set vv constraint 1}}

set_v_constraints_11_33 := {foreach vertex vv do {if vv.x = -lx/2 then set vv constraint 11; if vv.x = lx/2 then set vv constraint 33}}

set_v_constraints_22_44 := {foreach vertex vv do {if vv.y = -ly/2 then set vv constraint 22; if vv.y = ly/2 then set vv constraint 44}}

set_e_constraint_1 := {
	foreach edge ee do {
		cnt := 0;
		foreach ee.vertices vv do {
			if vv.z == 0 then cnt := cnt + 1;
		}
		if cnt == 2 then set ee constraint 1
	}
}